<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PortfolioManager</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>abc</servlet-name>
  <servlet-class>com.profsanku.godmodeservlet</servlet-class>
  </servlet>
  
<servlet-mapping>
<servlet-name>abc</servlet-name>
<url-pattern>/godmode</url-pattern>
</servlet-mapping>


  <servlet>
  <servlet-name>def</servlet-name>
  <servlet-class>com.profsanku.Logonservlet</servlet-class>
  </servlet>
  
<servlet-mapping>
<servlet-name>def</servlet-name>
<url-pattern>/logon</url-pattern>
</servlet-mapping>

  <servlet>
  <servlet-name>Confirm_buy</servlet-name>
  <servlet-class>com.profsanku.buyservlet</servlet-class>
  </servlet>
  
<servlet-mapping>
<servlet-name>Confirm_buy</servlet-name>
<url-pattern>/buy</url-pattern>
</servlet-mapping>

 <servlet>
  <servlet-name>Investment</servlet-name>
  <servlet-class>com.profsanku.investmententryservlet</servlet-class>
  </servlet>
  
<servlet-mapping>
<servlet-name>Investment</servlet-name>
<url-pattern>/investmententry</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>InvestmentShow</servlet-name>
  <servlet-class>com.profsanku.investmentshowservlet</servlet-class>
  </servlet>
  
<servlet-mapping>
<servlet-name>InvestmentShow</servlet-name>
<url-pattern>/investmentshow</url-pattern>
</servlet-mapping>
  
  
  
</web-app>